<html lang='en'></html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=<device-width>, initial-scale=1.0' />
    <title>Aquatrack Document</title>
  </head>
  <body>
    <h1 style="color: blue;">Hello, {{name}}</h1>
    {{!-- має бути адреса фронтенду, де буде сторінка по скидуванню пароля
    - наш Фронтенд https://aqua-track-frontend-smoky.vercel.app/forgot-password
    - приклад на вебінарі:
     html: `<p>Please open this <a href="http://www.google.com/reset-pwd?token=${resetToken}">link</a> to reset your `  --}}
    <p>Please, open this
      <a
        href='https://aqua-track-frontend-smoky.vercel.app/forgot-password/reset-pwd?token={{resetToken}}'
      >link</a>
      to reset your password</p>
  </body>
</html>
